
* {
    font-family: 'Space Mono', monospace;
    padding-left: 5px;
    margin: 0;
}

h1, h2, h3 {
    font-weight: normal;
}

.nav-list, .section.list, .header-title, .section-heading, .article-heading, .section-heading-contact {
    font-family: 'Radley', serif;
}

.header-wrap {
    background-image: url("../img/banner.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: relative;
    height: 80vh;
    margin-bottom: 50px;
    text-align: center;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}


.nav-list {
    padding-top: 2px;
    position: fixed;
    top: 25px;
    z-index: 1;
}


.navbar-nav {
    list-style-type: none;
    margin: 0;
    line-height: 18px; 
}

.navbar-nav li {
    margin: 0px 12px 0px 12px;
    padding-top: 10px;
    padding-bottom: 50px;
    font-size: 16px;
    display: inline-block;
}

.navbar-nav li a {
    color: #000000;
    text-decoration: none;
    padding: 1px;   
}

a, a:hoover {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.header-text {
    color: #ffffff;
}

.header-title {
    font-size: 200px;
    letter-spacing: 1px;
    line-height: 1;
}

.header-tagline {
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    text-transform: lowercase;
}

.social-icons {
    position: relative; 
    display: flex;
    left: 5px;
    bottom: 8vh;
    z-index: 1; 
}

.social-nav {
    position: fixed; /*sticky menu*/
    list-style-type: none;
}

.social-nav img {
    height: 40px;
    padding-left: 0;
    padding-right: 5px;  
}

.layout-info {
    position: absolute;
    color: #ffffff;
    font-size: 10px;
    transform: rotate(-90deg);
    left: 15px;
    bottom: 15px; 
    transform-origin: 0 0;
}

.author-set {
    position: relative;
}

.author-set::before {
    content: url("../img/cross.svg");
    position: absolute;
    width: 200px;
    z-index: -1;
    left: -95px;
    top: -45px;
}

.section-heading {
    font-size: 40px;
    color: #000000;
    line-height: 1;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-text {
    font-size: 14px;
    color: #000000;
}

.section-list {
    font-size: 15px;
    color: #000000;
    list-style-type: none;
    margin-bottom: 10px;
}

.section-list li {
    border-bottom: 1px solid #eeeeee;
    padding-top: 10px;
    padding-bottom: 10px;
}

.section-link {
    font-size: 15px;
    color: #F04D23;
}

.section-link-insta {
    font-size: 40px;
    color: #F04D23;
}

.insta-photos {
    margin-bottom: 10px;
}

.article-heading {
    font-size: 24px;
    line-height: 1;
    margin-top: 20px;
}

h3.article-heading a {
    text-decoration: none;
    color: #f04d23;
}

.contact-info {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.wave-set {
    position: relative;
}

.wave-set::before {
    content: url("../img/line.svg");
    position: absolute;
    width: 900px;
    left: 90px;
    bottom: -60px;
    z-index: -1;
}

.section-heading-mail .section-text-contact {
    color: #000000;
}

.section-heading-contact {
    font-size: 100px;
    text-align: center;
    line-height: 100px;
}

.section-text-mail .section-text-contact  {
    font-size: 18px;
}
.section-text-mail {
    padding-top: 80px;
}

.section-text-contact 

.contact-link {
    z-index: 1; 
}
a.contact-link {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
}

footer {
    background: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer-text {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer-link {
    color: #F04D23;
}
